.custom-vs-notification .vs-notification__content__header h4 {
  color: white !important;
}

.font-weight-medium {
  font-weight: 500;
}

.btn-labels-container {
  .btn-label {
    background-color: rgb(var(--concept-color));
    border-color: rgb(var(--concept-color));

    &:hover {
      box-shadow: $popover-box-shadow;
    }
  }
}
