.custom-vs-notification .vs-notification__content__header h4 {
  color: white !important;
}

.font-weight-medium {
  font-weight: 500;
}

.btn-labels-container {
  .btn-label {
    background-color: rgb(var(--concept-color));
    border-color: rgb(var(--concept-color));

    &:hover {
      box-shadow: $popover-box-shadow;
    }
  }
}

.has-concept,
.has-category {
  transition: $transition-base;
}

.has-concept.is-active,
.has-concept.is-filter {
  border-radius: 4px;
}

.has-concept.is-editable{
  padding: 1.5px;

  .concept-remove-btn {
    display: inline-block;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.has-category {
  display: inline-block;
  border-radius: 25px;
  padding: 3px 8px;
}
