.unit-text {
  display: inline;
  transition: $transition-base;
  line-height: 1.65;
  font-size: 1.25em;

  &.is-active {
    font-weight: 500;
    color: rgb(var(--concept-color));
    background-color: rgba(var(--concept-color), .2);

    &.is-editable {
      padding: 3px;

      .btn-cancel-unit {
        font-size: 1em;
        margin-left: 3px;
        margin-top: -3px;
        cursor: pointer;
      }
    }
  }

  &.is-filtered {
    border: 2px solid $danger;
  }

  &.is-active, &.is-filtered {
    border-radius: 4px;
  }
}
